.input-container {
  background-color: #221f1f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px !important;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.input-logo{
  display: flex;
  justify-content: center;
  margin: 1rem 0 3rem 0;

}
.input-form {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;

}

.input-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
  
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-item input {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
  
}

.form-item input:focus {
  outline: none;
  border-color: #6fb7b7;
}

input::placeholder {
  font-size: 14px;
  color: white !important;
}

.form-button {
  display: flex;
  justify-content: center;

}
