.left{
    text-align: left !important;
}

.right{
    text-align: left !important;
}

.title{
    display: inline;
    margin-bottom: 10px;
    margin-top: 10px;
    table-layout: auto; 
    border-bottom: solid silver 1px; 
}  

.startarea{
    padding-bottom: 10px;
    padding-top: 15px;
}

.edges{
    margin-right: auto;
    margin-left: auto;
    vertical-align : middle;
    border-collapse: collapse;
    border-spacing: 0;
    padding: auto;
    text-align: center;

}
.edges tr:first-child {
    vertical-align: middle;
  }

.table{
    border: solid 1px black !important;
    padding: 10px;
    table-layout: auto;
    display: inline-block;
    margin-top: 3rem !important; 
    margin-bottom: 3rem !important; 
    background-color: white;
    border-radius: 1rem;
    /* box-shadow: 0 0px 14px 20px #000000; */
}
  
  @media screen and (min-width: 768px) {
    .table {
      max-width: 800px;
      flex-direction: row;
      justify-content: space-between;
      
    }
  }
  
  .edges {
    border-collapse: collapse;
  }
  
  .edges th,
  .edges td
  .edges tr {
    /* border: 1px solid black; */
    padding: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .edges th,
    .edges td {
      display: block;
      width: 100%;
    }
  }
  
  .aweonao{
    /* background-color: conic-gradient(at 100% 0%, rgb(199, 210, 254), rgb(71, 85, 105), rgb(199, 210, 254)); */
    /* background: linear-gradient(to right, rgb(199, 210, 254), rgb(71, 85, 105), rgb(199, 210, 254)); */
  }